@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #3ACF87 0%, #2CB572 65.999%, #fcfcfd 66%, #f7f9ff 100%);
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	padding: clamp(20px, 5%, 100px);
	flex-direction: column;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6, label, div {
	font-family: 'Noto Sans';
	overflow-wrap: break-word;
	user-select: none;
}

p {
	color: #2e2e2e
}

h1 {
	font-weight: 700;
	font-size: 50px;
	background: -webkit-linear-gradient(#3ACF87, #2CB572);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	font-size: 20px;
	margin-top: -5px;
	font-weight: 500;
	color: #2e2e2e;
}

h3 {
	font-size: 18px;
	color: #3ACF87;
}

#root, #__next {
	isolation: isolate;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.body-container--primary {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	height: clamp(700px, 50%, 1000px);
	width: calc(70vw + 50px);
	max-width: 1000px;
	margin: auto;
	background: #fff;
	border-radius: 25px;
	padding: 25px 25px;
	text-align: center;
	box-shadow:
		0px 0.6px 0.8px rgba(0, 0, 0, 0.01),
		0px 1.3px 2px rgba(0, 0, 0, 0.015),
		0px 2.5px 3.8px rgba(0, 0, 0, 0.019),
		0px 4.5px 6.7px rgba(0, 0, 0, 0.024),
		0px 8.4px 12.5px rgba(0, 0, 0, 0.031),
		0px 20px 30px rgba(0, 0, 0, 0.05);
}

.body-container--mobile {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80%;
	width: 80vw;
	margin: auto;
	background: #fff;
	border-radius: 25px;
	padding: 7.5%;
	text-align: center;
	box-shadow:
		0px 0.6px 0.8px rgba(0, 0, 0, 0.01),
		0px 1.3px 2px rgba(0, 0, 0, 0.015),
		0px 2.5px 3.8px rgba(0, 0, 0, 0.019),
		0px 4.5px 6.7px rgba(0, 0, 0, 0.024),
		0px 8.4px 12.5px rgba(0, 0, 0, 0.031),
		0px 20px 30px rgba(0, 0, 0, 0.05);
}

.body-text--headers, .body-text--descriptives, .body-buttons--primary, .logo-separator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.body-text--headers {
	justify-content: flex-start;
	justify-self: flex-start;
}

.link {
	text-decoration: none;
}

.body-text--descriptives {
	height: clamp(100px, 70%, 500px);
	/* height: 70%; */
}

.body-buttons--primary {
	height: 10%;
	margin-top: 15px;
}

.logo-separator {
	flex-direction: row;
	padding-right: 56.58px;
}

.header-separator {
	width: calc(17.5vw + 80px);
	min-width: 330px;
	max-width: 800px;
	margin: 15px 0;
	min-height: 2px;
	background: #bebebe;
}

.btn-primary--next, .btn-primary--next-alt {
	background: #3ACF87;
	border-radius: 20px;
	color: #fff;
	outline: 0;
	border: 0;
	padding: 20px 30px;
	font-weight: 600;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: 'Noto Sans';
	transition: background 0.3s ease;
	text-decoration: none;
	min-width: 330px;
}

.btn-primary--next-alt {
	background: none;
	border: 2px solid #3acf87;
	color: #3acf87;
	transition: border 0.3s ease, color 0.3s ease;
}

.btn-primary--next:hover {
	background: #26ad6c;
	transition: background 0.3s ease;
}

.btn-primary--next-alt:hover {
	border: 2px solid #2CB572;
	color: #2cb572;
	transition: border 0.3s ease, color 0.3s ease;
}

.upload-info {
	color: #2e2e2e;
	transition: color 0.3s ease;
}

.upload-info:hover {
	color: #0f0f0f;
	transition: color 0.3s ease;
}

.contact {
	text-decoration: none;
	font-family: 'Noto Sans';
	color: #2CB572;
	transition: color 0.3s ease;
}

.logo {
	width: 56.58px;
	margin-right: 15px;
}

#rostertype {
	width: 330px;
	height: 30px;
	border-radius: 5px;
}

.contact:hover {
	color: #26ad6c;
	transition: color 0.3s ease;
}

option {
	text-align: center;
}

::placeholder {
	text-align: center;
}

input[type=text] {
	padding: 15px 40px;
	border-radius: 12px;
	border: none;
	outline: none;
	box-shadow: inset 0 2px 5px rgb(0, 0, 0, 0.2);
	width: 330px;
	text-align: center;
	transition: box-shadow 0.3s ease;
}

input[type=text]:focus {
	box-shadow: inset 0 3px 7px rgb(0, 0, 0, 0.225);
	transition: box-shadow 0.3s ease;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

li {
	min-width: 65px;
	text-align: left;
}

strong {
	color: #3ACF87;
}

#roster {
	margin-top: 8px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.drop-file {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 240px;
	width: 100%;
	background: #d2e3f0;
	border: 2px dashed #1661a7;
	border-radius: 20px;
}

::-webkit-file-upload-button {
	display: none;
}

.success-span {
	margin-top: 10px;
	text-align: center;
	font-family: 'noto sans';
	color: #2e2e2e;
	font-size: 18px;
}



@media only screen and (max-width: 1031px) {
	p {
		font-size: 13.5px;
	}
}

@media only screen and (max-width: 499px) {
	.header-separator {
		min-width: 120px;
	}

	.logo {
		width: 42.435px;
		margin-right: 11.25px;
	}

	.logo-separator {
		padding-right: 42.425px;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 16px;
	}

	p, span, .success-span {
		font-size: 12.5px;
	}

	/* .btn-primary--next, .drop-file, #Rostro, input[type=text] {
		width: 100%;
	} */

	.btn-primary--next, .btn-primary--next-alt {
		min-width: 237.6px;
	}

	#Rostro, input[type=text] {
		width: 90%;
	}

	.btn-success {
		font-size: 12px;
	}
}

/* @media only screen and (max-width: 650px) {
	.body-container--primary {
		min-height: 750px;
	}
} */

.btn-success, input {
	min-width: 237.6px;
}