@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #3ACF87 0%, #2CB572 65.999%, #fcfcfd 66%, #f7f9ff 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6, label {
	font-family: 'Noto Sans';
	overflow-wrap: break-word;
	user-select: none;
}

p {
	color: #2e2e2e
}

h1 {
	font-weight: 700;
	font-size: 50px;
	background: -webkit-linear-gradient(#3ACF87, #2CB572);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 3px;
}

h2 {
	font-size: 20px;
	font-weight: 500;
	color: #2e2e2e;
}

h3 {
	color: #3ACF87;
}

#root, #__next {
	isolation: isolate;
}

.body-container--primary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 700px;
	height: 50%;
	width: 66vw;
	max-width: 1000px;
	margin: auto;
	background: #fff;
	border-radius: 25px;
	padding: 7.5%;
	text-align: center;
	box-shadow:
		0px 0.6px 0.8px rgba(0, 0, 0, 0.01),
		0px 1.3px 2px rgba(0, 0, 0, 0.015),
		0px 2.5px 3.8px rgba(0, 0, 0, 0.019),
		0px 4.5px 6.7px rgba(0, 0, 0, 0.024),
		0px 8.4px 12.5px rgba(0, 0, 0, 0.031),
		0px 20px 30px rgba(0, 0, 0, 0.05);
}

.body-text--headers {
	margin-top: 20px;
	margin-bottom: 20px;
}

.body-text--descriptives {
	margin-bottom: 40px;
}

.btn-primary--next, input[type=submit] {
	background: #3ACF87;
	border-radius: 20px;
	color: #fff;
	outline: 0;
	border: 0;
	padding: 20px 30px;
	font-weight: 600;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: 'Noto Sans';
	transition: background 0.3s ease;
	text-decoration: none;
	min-width: 300px;
}

.btn-primary--next:hover, input[type=submit]:hover {
	background: #26ad6c;
	transition: background 0.3s ease;
}

.upload-info {
	color: #2e2e2e;
	transition: color 0.3s ease;
}

.upload-info:hover {
	color: #0f0f0f;
	transition: color 0.3s ease;
}

.contact {
	color: #2CB572;
	transition: color 0.3s ease;
}

.contact:hover {
	color: #26ad6c;
	transition: color 0.3s ease;
}

::placeholder {
	text-align: center;
}

input[type=text] {
	padding: 15px 40px;
	border-radius: 12px;
	border: none;
	outline: none;
	box-shadow: inset 0 2px 5px rgb(0, 0, 0, 0.2);
	width: 440px;
	text-align: center;
	transition: box-shadow 0.3s ease;
}

input[type=text]:focus {
	box-shadow: inset 0 3px 7px rgb(0, 0, 0, 0.225);
	transition: box-shadow 0.3s ease;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

li {
	min-width: 65px;
	text-align: left;
}

#roster {
	margin-top: 8px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

::-webkit-file-upload-button {
	display: none;
 }

@media only screen and (max-width: 1031px) {
	h1 {
		font-size: 1.8rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	h3 {
		font-size: 1.05rem;
	}

	p {
		font-size: 0.8rem;
	}
}