<!DOCTYPE html>
<html lang="en">

<head>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MP659D4');</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.svg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="preload" as="image" href="static/assets/favicon.svg">
    {% block head %}{% endblock %}
    <title>Shift To Your Own Calendar | Rostro</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MP659D4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% block body %}
    {% block form %}
    {% endblock %}
    {% endblock %}
    <div style="display: flex; flex-direction: row; position: relative; margin-top: 50px; width: 100%; height: auto; justify-content: center; align-items: flex-end;">
        <div style="width: 50%; position: relative; display: flex; flex-direction: column;">
            <a class="contact" target="_blank" href="mailto:james.rostrodev@gmail.com?subject=Rostro enquiry" style="font-size: 14px; text-decoration: none; font-family: 'Noto Sans'; position: relative; align-self: flex-start; white-space: nowrap;">
                contact the developer
            </a>
        </div>
        <div style="width: 50%; position: relative; display: flex; flex-direction: column;">
            <a id="watermark-gus" style="position: relative; font-size: 10px; color: #dadada; text-decoration: none; align-self: flex-end;" target="_blank" href="https://ggaidelevicius.com">designed by gus</a>
            <a id="watermark-james" style="position: relative; font-size: 10px; color: #dadada; text-decoration: none;  align-self: flex-end;" target="_blank" href="https://rostro.icu">Rostro by James Lawson</a>
        </div>
    </div>
</body>

<script>
    window.onload = function () {
        if (localStorage.getItem('logo-svg') != null) {
            document.getElementById('logo').setAttribute('src', localStorage.getItem('logo-svg'))
        }
        else {
            let xhr = new XMLHttpRequest(), blob, fileReader = new FileReader()
            xhr.open("GET", "static/assets/favicon.svg", true)
            xhr.responseType = "arraybuffer"
            xhr.addEventListener("load", function () {
                if (xhr.status === 200) {
                    blob = new Blob([xhr.response], { type: "image/svg+xml" });
                    fileReader.onload = function (evt) {
                        var result = evt.target.result;
                        document.getElementById('logo').setAttribute("src", result);
                        try {
                            localStorage.setItem("logo-svg", result);
                        }
                        catch (e) {
                            console.log("Storage failed: " + e);
                        }
                    };
                    fileReader.readAsDataURL(blob);
                }
            }, false);
            xhr.send();
        }
    }
</script>

</html>