{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="body-container--primary">
    <div class="body-text--headers">
        <a href="http://rostro.icu/" class="logo-separator link">
            <img id="logo" src="static/assets/favicon.svg" class="logo">
            <h1>Rostro</h1>
        </a>
        <h2>Shift to your <strong>own</strong> calendar.</h2>
        <div class="header-separator"></div>
    </div>
    <div class="body-text--descriptives">
        <form id=Rostro action='' method='post' novalidate enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <input name="roster" required size="32" type="file" id="roster" onchange='fileSelected()' style="display:none" />
            <label for="roster" class="drop-file" id="roster-select" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <p style="font-size: 16px;" id="file-select-text"><strong style="cursor:pointer;" class="upload-info">Choose an excel file</strong> or drag it here</p>
            </label>
            <p>
                {{form.username}}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </form>
    </div>
    <div class="body-buttons--primary">
        <input class="btn-primary--next" name="submit" type="submit" id="submit" value="SUBMIT" form="Rostro" />
    </div>
</div>
<script>
    function fileSelected() {
        document.getElementById("file-select-text").innerHTML = document.getElementById("roster").value.replace(/^.*\\/, "") + "<br><br><strong style='cursor:pointer' class='upload-info'>Click here</strong> to select a new file"
    }

    function dropHandler(ev) {
        console.log('File(s) dropped');
        ev.preventDefault();

        if (ev.dataTransfer.items) {
            // Use DataTransferItemList interface to access the file(s)
            for (var i = 0; i < ev.dataTransfer.items.length; i++) {
                // If dropped items aren't files, reject them
                if (ev.dataTransfer.items[i].kind === 'file') {
                    var file = ev.dataTransfer.items[i].getAsFile();
                    document.getElementById("file-select-text").innerHTML = file.name + "<br><br><p>Drag and drop does not currently work</p><br><strong style='cursor:pointer' class='upload-info'>Click here</strong> to select a new file"
                    console.log('... file[' + i + '].name = ' + file.name);
                }
            }
        } else {
            // Use DataTransfer interface to access the file(s)
            for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
            }
        }
    }

    function dragOverHandler(ev) {
        console.log('File(s) in drop zone');
        ev.preventDefault();
    }
</script>
<style>
    label:nth-child(1) {
        font-weight: bold;
    }
</style>
{% endblock %}