{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
{% block form %}
<div class="body-container--primary">
    <div class="body-text--headers">
        <h1>Rostro</h1>
        <h2>Submit your roster below</h2>
    </div>
    <form id=Rostro action='' method='post' novalidate enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <p>
            {{form.username}}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="margin-top: 20px; margin-bottom: 10px;">
            {{ form.rostertype.label }}<br>
            {{ form.rostertype(size=32) }}
            {% for error in form.rostertype.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div style="margin-top: 20px; margin-bottom: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
            {{ form.roster.label }}<br>
            {{ form.roster(size=32) }}
            {% for error in form.roster.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div style="display: flex; align-items: center; justify-content: center; text-align: center;">{{form.submit()}}</div>
    </form>
</div>
{% endblock %}
{% endblock %}