{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="body-container--primary">
    <div class="body-text--headers">
        <a href="https://rostro.icu/" class="logo-separator link">
            <img id="logo" src="static/assets/favicon.svg" class="logo">
            <h1>Rostro</h1>
        </a>
        <h2>ICS rostering made <strong>easy.</strong></h2>
        <div class="header-separator"></div>
    </div>
    <div class="body-text--descriptives">
        <h3>What is Rostro?</h3>
        <p>Rostro takes your Excel roster file and converts it into an .ics file.</p>
        <br>
        <h3>What is an .ics file?</h3>
        <p>An .ics file is a type of calendar file used by essentially all your devices. It's used by iCalendar, Google
            Calendar, Microsoft Outlook and many others calendar platforms.</p>
        <br>
        <h3>So what's the benefit?</h3>
        <p>You can import an .ics file into your favourite calendar platform and easily be able to check your roster
            from all your devices whenever, and wherever you want.</p>
        <br>
        <h3>How do I use Rostro?</h3>
        <p>Simply upload your roster, enter your name, and you'll receive an .ics file you can import into your
            favourite calendar platform in seconds. It's that easy.</p>
    </div>
    <div class="body-buttons--primary">
        <a href="/form" class="btn-primary--next" id="to_form" data-instant>CREATE MY CALENDAR</a>
    </div>
</div>
<div class="body-container--mobile">
    <div class="body-text--headers">
        <div class="logo-separator" style="padding-right: 15px;">
            <img src="static/assets/favicon.svg" class="logo">
            <h1>Rostro</h1>
        </div>
        <h2>ICS rostering made <strong>easy.</strong></h2>
        <div class="header-separator"></div>
    </div>
    <div class="body-text--descriptives">
        <span>At this stage Rostro is only viewable on a computer.</span>
    </div>
</div>
{% endblock %}