{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<h1>Your Roster Was Successfully Converted!</h1>
<div class = w3-content>
<p>Your username is: {{username}}</p>
<p>We found {{shiftcount}} shifts</p>
<a href="{{ url_for('download', filename = filename) }}"><button id='download_file'>Download your file</button></a>
<button id = 'return_to_home'>Home</button>
</div>
<script>
    document.getElementById('return_to_home').addEventListener
    ('click', go_home);
    function go_home(){
        window.location.href = '/index'
    }
</script>
{% endblock %}